/* GENERAL */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: $background-color-body;
}

.main{
  flex-grow: 1;
  height: 100vh;
}